:root {
  --my-component-background:#eee;
}
my-component {
  display: inline-block;
  border:1px solid black;
  padding:16px;
  border-radius: 4px;
  background:var(--my-component-background);
  h4 {
    margin:0 0 .5em;
  }
}
